<p id="notice"><%= notice %></p>

<%= image_tag @profile.avatar.url(:medium) %>

<p>
  <strong>Name:</strong>
  <%= @profile.name unless @profile.name.blank? %>
</p>

<p>
  <strong>Location:</strong>
  <%= @profile.location unless @profile.location.blank? %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @profile.bio unless @profile.bio.blank?  %>
</p>

<ul>
<% @user.songs.each do |song| %>
  <%= image_tag song.picture %>
  <li><%= song.name %></li>
  <li><%= audio_tag song.audio, controls: true, autoplay: false %></li>
<% end %>
</ul>
