<p id="notice"><%= notice %></p>

<%= image_tag @profile.avatar.url(:medium) %>
<%= image_tag @profile.cover %>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @profile.location %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @profile.bio %>
</p>
