<div class="my-page col-sm-12">
  <div class="cover">
    <%= image_tag @profile.cover, :class => 'image-cover' %>
    <div class="profile-avatar">
      <%= image_tag @profile.avatar.url(:medium), :class => '' %>
    </div>
    <div class="user-info">
      <h3 class="user-name">MYTESTNAME HERE<%= @profile.name %></h3>
      <h6 class="user-location">Uzhhorod<%= @profile.location %></h6>
      <h6 class="user-bio">I love muscloud<%= @profile.bio %></h6>
    </div>
  </div>
</div>
<p id="notice"><%= notice %></p>