<!DOCTYPE html>
<html>
  <head>
    <title>Muscloud</title>
    <%= csrf_meta_tags %>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? -%>
      <ul>
        <li class="not-signed-in btn-link-2"><strong><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></strong></li>
        <li class="not-signed-in btn-link-2"><strong><%= link_to 'Edit Account', edit_user_registration_path %></strong></li>
        <li class="not-signed-in btn-link-2"><strong><%= link_to 'Edit Profile', edit_profile_path %></strong></li>
        <li class="not-signed-in btn-link-2"><strong><%= link_to 'My page', current_user %></strong></li>
        <li class="not-signed-in btn-link-2"><strong><%= link_to 'Home', root_path %></strong></li>
      </ul>
    <% else -%>
      <ul>
        <li class="not-signed-in btn-link-2"><strong><%= link_to 'Sign up', new_user_registration_path %></strong></li>
        <li class="not-signed-in btn-link-2"><strong><%= link_to 'Sign in', new_user_session_path %></strong></li>
        <li class="not-signed-in btn-link-2"><strong><%= link_to 'Home', root_path %></strong></li>
      </ul>
    <% end -%>

    <!-- <p class="notice"><%= notice %></p> -->
    <div class="warning"><span class="alert-danger"><%= alert %></span></div>


    <%= yield %>
  </body>
</html>
